{% extends 'base.html' %}  {% load staticfiles %} 
<head>
<style>
@media only screen and (max-width: 599px)
h1.introductionheading.col-smalldevice-12 {
    font-size: 80px;
}
</style>
</head>
{% block content %}



<main id="main col-smalldevice-12">
   <div class="container-fluid col-smalldevice-12">
      <div class="row rowsundernavbar col-smalldevice-12" style="margin-bottom: 70px">
          
          <div class="spacingundernavbar col-smalldevice-12">
          
           
              <div class="col-md-6 h1undernavbar col-smalldevice-12 ">
              <div class"h1spacingundernav absolute-h2"></div>
                <h1 class="introductionheading  col-smalldevice-12" style="font-size:90px; font-family: montserrat; color:white; margin-left:20px; font-weight:800;text-shadow: 2px 2px black;">Software Services</h1>
                  <h5 class="introductiondescription" style="
    width: 600px; font-weight:00; color:white; font-family: montserrat; text-shadow: 2px 2px black;">Full-stack software development</h5>
                    <div class="container">
                      <div class="row">
                        <div class=" ">
                          <div class="introductionbtnsection">
                            <a href="{% url 'aboutus' %}">
                              <button type="button" class="btn btn-primary">About</button>
                            </a>
                            <br><br>
                          </div>
                        </div>
                      </div>
                    </div>
           </div>
          </div>
        </div>
      



    <div class="container ">
      <div class="row-fluid introduction4links ">
      <div class="first-2-col">
         <div class="introduction4links-col col-md-3 hover-blue">
           <div class="innercolumn innercol1introduction4links ">
             <div class="icons1 glyphicon glyphicon-sound-stereo">
             
            </div>
             <h4 class"introduction4links "> <a href="{% url 'planning' %}" class="linksfor1strow ">Project Management</a> </h4>
             
           </div>
           
         </div>
         <div class="introduction4links-col col-md-3 hover-blue">
            <div class="innercolumn innercol2introduction4links no-hover">
               <div class="icons1 glyphicon glyphicon-sound-stereo">
             
               </div>
                <h4 class"introduction4links"> <a href="{% url 'bugs' %}" class="linksfor1strow">Fixing errors or bugs</a>  </h4>
                
            </div>
         </div>
         </div>
         <div class="">
         <div class="introduction4links-col col-md-3 hover-blue">
            <div class="innercolumn innercol3introduction4links no-hover">
               <div class="icons1 glyphicon glyphicon-sound-stereo">
               
               </div>
                <h4 class"introduction4links"> <a href="{% url 'mobile' %}" class="linksfor1strow">Mobile application</a>  </h4>
                
            </div>
         </div>
         <div class="introduction4links-col col-md-3 hover-blue">
            <div class="innercolumn innercol4introduction4links no-hover">
               <div class="icons1 glyphicon glyphicon-sound-stereo">
               
               </div>
                <h4 class"introduction4links"> <a class="linksfor1strow">Data Science </a>  </h4>
                
            </div>
         </div>
         </div>
      </div>

</div>




    <div class="section2" style=" background-color:white; background-size: cover;">
      <div class="row row2ndsection " >
          <div class="spacing2ndsection">
          </div>
          <div class="spacingundernavbar">
          
           
              <div class="col-md-6 section2col">
              
                <h2 class="introheading section2colh2">Taylor made IT Solutions</h2>
                
                  <h6 class="introductiondescription">For small-to-medium size businesses </h6>
                  <p class="section2p">We provide top quality full stack software development solutions to those busniness that <br>need to fix issues arising from the website and mobile applications.</p>
                    <div class="">
                      <div class="row">
                        <div class=" col-md-4">
                          <div class="introductionbtnsection">
                            <div>
                            
                            </div>
                            <a href="{% url 'it_solutions' %}">
                            <button type="button"  class="btn btn-default seconddefbtn "><div class="glyphicon glyphicon-play"></div></button>
                          </a>
                          </div>
                        </div>
                        
                        </div>

                      </div>
                    </div>

                    <div class="col-md-6 ">
                    <img src="static/images/man-women-meeting.png" class="section2img col-smalldevice-12">
                    <div class="" style="margin-top:120px"></div>
                    </div>
                    
</div></div></div>
                    <div class=" section3 ">
                      <div class="row ">
                        <div class="forsmalldevice innercolumn ">
                         <div class="col-md-4 section3col1 ">
                         <h2 class="section3col1h2 ">Software<br> Engineering</h2>
<p class="section3col1parag">As software engineers our job is to build and fix web/mobile applications in a specified period of time.
</p>
<br>
<a class="section3col1links">Best Practices</a>
<br>
<a class="section3col1links">What you should know prior to getting engineer</a>
<br>
<a class="section3col1links">The good from the average</a>
                         </div>
                         <div class="col-md-4 section3col1 "><h2 class="section3col1h2">UI/UX <br>Strategy</h2>
                         <p class="section3col1parag">User experience design is the practice of determining how a user will perceive and interact with a product or service.
</p>
<br>
<a class="section3col1links">Our Best Practices</a>
<br>
<a class="section3col1links">What is UI and UX?</a>
<br>
<a class="section3col1links">Why should you take UI/UX seriously!</a>

</div>


                        <div class="col-md-4 section3col1 "><h2 class="section3col1h2"> Data Science Issues</h2>
<p class="section3col1parag">The web or mobile application should be built around the data you have or want to store.
</p>
<br>
<a class="section3col1links">Databases too choose from</a>
<br>
<a class="section3col1links">What you should know and prepare before choosing</a>
<br>
<a class="section3col1links">Why is it so important for your website</a>

</div>

                      </div>
                    </div>
                    </div>
                    




           </div>
    
    <section class="section4 " style="background: rgb(3,130,247);
background: linear-gradient(0deg, rgba(3,130,247,0.9976365546218487) 27%, rgba(10, 100, 152, 0.8379726890756303) 49%, rgba(77, 219, 251, 0.8379726890756303) 74%);">
    <h5 class="section4h5 " style="color:black;">Few reason why clients choose us</h5>
    <div class="hide-desktop"><p class="show-in-mobile">We proving again and again that our great attention to detail, stylish design and innovatic ideas have had great success for our past clients</p><br>
    
    
    </div>
    <div class="row-fluid introduction4links section4marginbottom ">
         
         <div class="col-md-4 section4colpadding hide-col-for-mobile">
            <div class="section4-innercolumn" style="background-image: url(static/images/best-process.jpg)">
            
               
               <a href="{% url 'aboutus' %}" class=" "style="text-shadow: 2px 2px black;">Best Practices</a>  

              
               </div> 
            
         </div>

         
         <div class="col-md-4 section4colpadding hide-col-for-mobile">
            <div class="section4-innercolumn " style="background-image: url(static/images/standards-photo.png)">
            
               
                <a href="{% url 'aboutus' %}" class=" " style="text-shadow: 2px 2px black;">High Standards</a>  
              
            </div>
         </div>
        
         <div class="col-md-4 section4colpadding hide-col-for-mobile">
            <div class="section4-innercolumn" style="background-image: url(static/images/comm-photo.jpg)">
            
               
                 <a href="{% url 'aboutus' %}" class="" style="text-shadow: 2px 2px black;">Communication skills</a>  
               
            </div>
         </div>
         </div>
      </section>

<div class=" section5 ">
                      <div class="row ">
                        <div class="innercolumn ">
                         <div class="col-md-6 section5col1">
                         
                         <h2 class="section5col1h2" style="">Software Engineering</h2>

</div></div>


                        <div class="col-md-6 section5col1 ">
<p class="section5col1parag">I am experienced in the following coding languages,<br>frameworks and databases below.
</p>

</div>

<div class="sixlinkstxt mobileversion mobileversion-row">
<div class="col-md-1 section5col1 mobileversion-col">
<div class="icons1 glyphicon glyphicon-edit sixlinksicon">
              
               </div>
               <br>
<a href="{% url 'skills' %}" class="sixlinkstxt">Python</a>
</div>
<div class="col-md-1 section5col1 mobileversion-col">
<div class="icons1 glyphicon glyphicon-calendar sixlinksicon">
              
               </div>
               <br>
<a href="{% url 'skills' %}" class="sixlinkstxt">Javascript</a>
</div>
<div class="col-md-1 section5col1 mobileversion-col">
<div class="icons1 glyphicon glyphicon-comment sixlinksicon">
              
               </div>
               <br>
<a href="{% url 'skills' %}" class="sixlinkstxt">CSS/HTML</a>
</div>
<div class="col-md-1 section5col1 mobileversion-col">
<div class="icons1 glyphicon glyphicon-folder-open sixlinksicon">
              
               </div>
               <br>
<a href="{% url 'skills' %}" class="sixlinkstxt">SQL/NoSQL</a>
</div>
<div class="col-md-1 section5col1 mobileversion-col">
<div class="icons1 glyphicon glyphicon-sound-stereo sixlinksicon">
              
               </div>
               <br>
<a href="{% url 'skills' %}" class="sixlinkstxt">D3.js/DC.js</a>
</div>
<div class="col-md-1 section5col1 mobileversion-col">
<div class="icons1 glyphicon glyphicon-wrench sixlinksicon">
              
               </div>
               <br>
<a href="{% url 'skills' %}" class="sixlinkstxt">Angularjs</a>

</div>

</div>
                      </div>
                    </div>
<div class="container-fluid section3-2nd-section">
<div class="row section3-2nd-row">



<img src="static/images/tabs_img-1.png" class="section3img col-smalldevice-6" style="padding-top:20px">



<div class="hi-tech-section row">
<div class="middele-section">
<h2 class="section3img-right-h2 "> Clarity</h2>

<p class="section3img-right-txt ">
When you see an error which you need to fix, it's important to plan out the process of <br>

timeframe, cost, effort, deadlines and resources needed to get the job done <br>effectively and fast
</p>
</div>





</div>
</div>
</div>




   

 

<div class="container-fluid contactinfopicture " style=" margin-top:50px; background-image: url(static/images/laughing-women.png); background-repeat: no-repeat; background-size:cover;background-position: 50% 50%;">
 <div class="container4 hide-in-mobile ">
  <h2 class="showvisibility bigheading">Meeting your customer needs</h2>
  <br>
  <p class="showvisibility belowbigheading">Data should evolve around your customers needs</p>
</div>
</div>

<section class="section7 ">
    <h5 class="section8h5">Our Latest Insights</h5>
    <div class="row-fluid container introduction4links section4marginbottom stretch">
         
         <div class="col-md-4 section4colpadding blue"  >
         <a href="{% url 'bugs' %}">
            <div class="innercolumn10" style="background-image: url(static/images/smartphone.jpg)">
            <div class="iconlinks-space">
              

              </div>
               </div>
                <a> 
            <h2 class="white-heading" style="color:blue;">Bugs</h2>
            <p class="lastestinsightspara bugs-para" >The affect that bugs has on your online business</p>
         </div>

         
         <div class="col-md-4 section4colpadding " >
         <a href="{% url 'planning' %}">
            <div class="innercolumn7" style="background-image: url(static/images/computer-1245714_1920.jpg)">
            <div class="iconlinks-space">
               
                
             </div>   
            </div>
            </a>
            <h2 style="color:blue;">Plan for the future</h2>
            <p class="lastestinsightspara" >Planning and having strategies is critical to be done at least six months in advance</p>
         </div>
        
         <div class="col-md-4 section4colpadding blue ">
         <a href="{% url 'mobile' %}">
            <div class="innercolumn8" style="background-image: url(static/images/ipad1.jpg)">
            <div class="iconlinks-space">
               
                
              
            </div>
         </div>
        </a>
         <h2 class="white-heading" style="color:blue;">Being mobile responsive</h2>
            <p class="lastestinsightspara" >Mobile applications are now more important than desktop website</p>
         </div>
      </section>
<br><br>
<div class="container-fluid footer col-smalldevice-12">
<div class="row">
<div class="column col-smalldevice-12">
<div class="col-md-4 footer-middle">

<br>
<p style="font-weight: bold; font-size:20px;">Our email address:</p><br> <p>siliconirish@gmail.com</p>
<br><br>
<p style="font-weight: bold; font-size:20px;">Our mobile number;<br><p> 085-2171717 </p>
<br><br>
<p style="font-weight: bold; font-size:20px;">Our location:<br><p> Killarney, Co.Kerry, Ireland</p>



</div>

</div>
</div>


</div>




  </div>

</div>


</div>
</div>

                    </main>




{% endblock %}