{% extends 'base.html' %}{% load static %} 

{% block content %}
<div class="container-fluid contactinfopicture " style=" margin-top:50px;  background: rgb(111,121,254);
background: linear-gradient(0deg, rgba(111,121,254,1) 38%, rgba(81,113,254,1) 61%, rgba(2,25,176,1) 81%); background-repeat: no-repeat; background-size:cover;background-position: 50% 50%;">
 <div class="container4 hide-in-mobile ">
  <h2 class="showvisibility bigheading">Data Science</h2>
  <br>
  <p class="showvisibility belowbigheading" style="justify-content:center; font-size:25px;">What is it?</p>
  <br><br>
  <section style="margin-top:50px;">
  
  <p class="p-show" style="font-size:15px;  justify-content:center; color:black;">In the modern world, data is is everywhere. Inside this data are answers to important question whether it is the business, economics or medical industry and beyond. But if you were to collect and gain access large data and analyse it properly, wouldnt it reveal the answers to your questions But if you had access to a large dataset, would you be able to find the answers you seek?</p>
</section>
</div>
</div>

{% endblock %}