{% extends 'base.html' %} {% load static %}   

{% block content %}
<style>
table {
  border-collapse: collapse;
  border: 3px solid blue;
  background-color:white;
  box-shadow: 5px 10px blue;
} 

th,td {
  border: 1px solid black;
  text-align:center;
  padding:10px;
}

table.a {
  table-layout: auto;
  width: 600px;  
}

</style>
<section style="height:1200px;background: rgb(111,121,254);
background: linear-gradient(0deg, rgba(111,121,254,1) 38%, rgba(81,113,254,1) 61%, rgba(2,25,176,1) 81%); background-repeat: no-repeat; background-size:cover;background-position: 50% 50%;">
<div style="height:30px;"></div>
<section>
<div style="height:100px;"></div>
<p style="margin-left:2% font-size:15px; font-weight: bold; color:white;">When you have a bugs that needs to be fix within a certain timeframe that you require, as oppose to no deadline in the near future, this is upgraded from a bug to a feature</p>
</section>
<h2 style="color:white; margin-left:45%;">Features</h2>
<table class="a" style="margin-left:27%">
  <tr>
    <th>To do</th>
    <th>In progress</th>
    <th>Done</th>
  </tr>
  <tr>
    <td>{{feature_todo}}</td>
    <td>{{feature_inprogress}}</td>
    <td>{{feature_done}}</td>
  </tr>
  
</table>
<br><br><br><br><br><br>
<a href="{% url 'publicise_bug' %}" style="font-size:20px;  color:white; "><div  class="glyphicon glyphicon-info-sign"></div> Fix bugs on your website</a>
<br><br><br>
<a href="{% url 'publicise_features' %}" style="font-size:20px;  color:white; "><div  class="glyphicon glyphicon-wrench"></div> Need to fix a problem as soon as possible through creating a feature</a>
<br>
<br><br><br><br><br><br>
<a href="{% url 'bug_comment' %}" class="features-bugs" style="font-size:20px;  color:white; "><div  class="glyphicon glyphicon-comment"></div> Comment on a bug on your website</a>
<br><br><br>
<a href="{% url 'feature_comment' %}" class="features-bugs" style="font-size:20px;  color:white;"><div  class="glyphicon glyphicon-comment"></div> Write a comment on a feature about your website</a>
<br>
</section>
{% endblock %}