{% extends 'base.html' %} {% load static %}   

{% block content %}
<div class="container-fluid contactinfopicture " style=" margin-top:50px;  background: rgb(111,121,254);
background: linear-gradient(0deg, rgba(111,121,254,1) 38%, rgba(81,113,254,1) 61%, rgba(2,25,176,1) 81%); background-repeat: no-repeat; background-size:cover;background-position: 50% 50%;">
 <div class="container4 hide-in-mobile ">
  <h2 class="showvisibility bigheading">Taylor made IT Solutions</h2>
  <br>
  <p class="showvisibility belowbigheading" style="justify-content:center; font-size:25px;">We offer top class IT solutions to our clients</p>
  <br><br>
  <section style="margin-top:50px;">
  
  <p class="p-show"style="font-size:15px;  justify-content:center; color:black;">Our IT solutions we provide include the front-end development a user can see using programming languages such as Html, Css, Javascript. We offer back-end development services dealing with the database of the application such as Python, NoSql and Sql.</p>
</section>
</div>
</div>
<div style="height:200px;" class="blank-white-space"></div>
<div class=" col-md-6 it-solutions-p" style="margin-left:30%;">
<p style="font-size:20px; color:blue;">From Javascript, Html, Css up to Python, MySql and NoSql</p>
<p style="font-size:20px; margin-left:25%; color:blue;">We got you covered!!</p>
</div>
<div style="height:200px;" ></div>
<h3 style="color:black; margin-left:35%;" class="h3-blank-white-space">Destop, Mobile and Tablets IT Solutions</h3>
<div class="container-fluid white-section it-solution-img" style="background-image:url('/static/images/mobile-devices.png'); height:300px;width:50%; background-size:cover;background-position: 50% 50%;background-repeat: no-repeat;">

</div>
<br><br>
{% endblock %}