{% extends 'base.html' %} {% load static %} {% load staticfiles %}

{% block content %}
<div class="container-fluid contactinfopicture " style=" margin-top:50px;  background: rgb(81,120,156);
background: linear-gradient(0deg, rgba(81,120,156,0.865983893557423) 27%, rgba(96,184,200,0.835171568627451) 56%, rgba(109,165,171,0.8379726890756303) 87%); background-repeat: no-repeat; background-size:cover;background-position: 50% 50%;">
 <div class="container4 hide-in-mobile ">
  <h2 class="showvisibility bigheading">Mobile Applications</h2>
  <br>
  <p class="showvisibility belowbigheading" style="justify-content:center; font-size:25px;">Mobile has overtaken desktop as the number one choice of device</p>
  <br><br>
  <section style="margin-top:50px;">
  
  <p class="p-show" style="font-size:15px;  justify-content:center; color:black;">For that reason we take mobile applications very serious and have focused our skills and talent to develop and fix mobile application issues our clients have. If your business has problems dealing with the building of databases, designing and building front-end or back-end applications on mobile, then you can signup and publicise your issue to us.</p>
</section>
</div>
</div>
<div style="height:200px;" class="blank-white-space"></div>
<div class="container-fluid white-section" style="background-image:url('/static/images/whatsapp.png'); height:300px;width:300px; background-size:cover;background-position: 50% 50%;background-repeat: no-repeat;">

</div>
{% endblock %}