{% extends 'base.html' %} {% load static %} {% load staticfiles %}

{% block content %}
<div class="container-fluid contactinfopicture " style=" margin-top:50px;  background: rgb(81,120,156);
background: linear-gradient(0deg, rgba(81,120,156,0.865983893557423) 27%, rgba(96,184,200,0.835171568627451) 56%, rgba(109,165,171,0.8379726890756303) 87%); background-repeat: no-repeat; background-size:cover;background-position: 50% 50%;">
 <div class="container4 hide-in-mobile ">
  <h2 class="showvisibility bigheading">Project Management and Planning Ahead</h2>
  <br><br><br>
  <p class="showvisibility belowbigheading" style="justify-content:center; font-size:22px;">Proper planning and project management best practices is a must for apps to run smoothly and for the business to survive in the online world</p>
  <br>
  <section style="margin-top:50px;">
  
  <p class="p-show" style="font-size:16px;  justify-content:center; color:black;">Our talented software engineers and developer due rigourous planning before any code is written to ensure the project goals and requirements are above board. We ensure testing is done on a regular basis to ensure is section of the application is working and linking correctly to all parts of the project. </p>
</section>
</div>
</div>
<div style="height:200px;" class="blank-white-space"></div>
<div class="container-fluid white-section" style="background-image:url('/static/images/ux.jpg'); height:300px;width:50%; background-size:cover;background-position: 50% 50%;background-repeat: no-repeat;">

</div>
<br><br>
{% endblock %}