{% extends 'base.html' %} {% load static %} 

{% block content %}
<section class="section7 ">
    <h5 class="section8h5 white-font">Pricing</h5>
    <div class="row-fluid container introduction4links section4marginbottom stretch">
         
         <div class="col-md-4 section4colpadding blue"  >
            <div class="innercolumn10" style="background-image: url(/static/images/bronze.jpg);">
            <div class="iconlinks-space">
               

              </div>
               </div> 
            <h2 class="white-heading" style="color:blue;">Bronze Package</h2>
            <p class="lastestinsightspara" >$80 per hour</p>
         </div>

         
         <div class="col-md-4 section4colpadding white-back" >
            <div class="innercolumn7" style="background-image: url(/static/images/silver.jpg);">
            <div class="iconlinks-space">
               
                
             </div>   
            </div>
            
            <h2 style="color:blue;">Silver Package</h2>
            <p class="lastestinsightspara" >$80 per hour</p>
         </div>
        
         <div class="col-md-4 section4colpadding blue margin-t ">
            <div class="innercolumn8" style="background-image: url(/static/images/gold.jpg);">
            <div class="iconlinks-space">
               
                
              
            </div>
         </div>
        
         <h2 class="white-heading" style="color:blue;">Gold Package</h2>
            <p class="lastestinsightspara" >Price based on project scope</p>
         </div>
      </section>

{% endblock %}