{% extends 'base.html' %}{% load static %} 

{% block content %}
<div class="container-fluid contactinfopicture " style=" margin-top:50px; height: 1700px; background: rgb(81,120,156);
background: linear-gradient(0deg, rgba(81,120,156,0.865983893557423) 27%, rgba(96,184,200,0.835171568627451) 56%, rgba(109,165,171,0.8379726890756303) 87%); background-repeat: no-repeat; background-size:cover;background-position: 50% 50%;">
 <div class="container4 hide-in-mobile " style="background: rgb(111,121,254);
background: linear-gradient(0deg, rgba(111,121,254,1) 38%, rgba(81,113,254,1) 61%, rgba(2,25,176,1) 81%);">
  <h2 class="showvisibility bigheading">Our Skills and Knowledge</h2>
  <br>
  <p class="showvisibility belowbigheading" style="justify-content:center; font-size:25px;">Our primary mission is to be the best in our industry</p>
  <br><br>
  <section style="margin-top:50px;">
  <br><br><br>
  <p class="p-show" style="font-size:15px;  justify-content:center; color:black;">We strive to be one of the best full stack software engineers and work with the best companies in silicon valley and accross the globe . We are constantly learning and developing new skills and methods to enhance our clients website and make catchy bugs easier and quickly to let business focus on sales and marketing for their business.</p>
<br><br><br>
<p class="p-show" style="font-size:15px;  justify-content:center; color:black;">We have software engineers who operate from Ireland to clients around the globe. We specialise in project management for businesses who want to take their website or mobile application to the next level.</p>

<br><br><br><br>
<p class="p-show" style="font-size:15px;  justify-content:center; color:white; font-weight: bold;">Python</p>
<br><br><br><br>
<p class="p-show" style="font-size:15px;  justify-content:center; color:black; ">Pyhton is our preferred coding language as its rich in great options to make(code) what ever you imagine from building software for financial, medical and construction, the list is endless. It has fantastic frameworks such as Flask and Django to provide added value to coding the app your business needs. Python is a backend coding language meaning the user cant see what it does both it is used to provide pages, functions and how to construct a database.</p>

<br><br><br><br>
<p class="p-show" style="font-size:15px;  justify-content:center; color:white; font-weight: bold;">Javascript</p>
<br><br><br><br>
<p class="p-show" style="font-size:15px;  justify-content:center; color:black; ">Aside from Python, Javascript is an amazing language to create top class software for your business for the front-end, meaning what the user can see on the app or website </p>
<br><br><br><br>
<p class="p-show" style="font-size:15px;  justify-content:center; color:white; font-weight: bold;">Css/Html</p>
<br><br><br><br>
<p class="p-show" style="font-size:15px;  justify-content:center; color:black; ">How your the website on the website or app is Css main purpose. Html is how your write content and how you structure the page.</p>
<br><br><br><br>
<p class="p-show" style="font-size:15px;  justify-content:center; color:white; font-weight: bold;">SQL/NoSQL</p>
<br><br><br><br>
<p class="p-show" style="font-size:15px;  justify-content:center; color:black; ">These are the database your business will have to choose for the website or app. Is the data you going to collect on the user or market research related to each other or just stored on the fly will determine the type of database you will choose.</p>
<br><br><br><br>
<p class="p-show" style="font-size:15px;  justify-content:center; color:white; font-weight: bold;">D3.js/DC.js</p>
<br><br><br><br>
<p class="p-show" style="font-size:15px;  justify-content:center; color:black; ">Most financial, technology, medical or construction website need graphs or charts and D3.js/DC.js is how you build it.</p>

<br><br><br><br>
<p class="p-show" style="font-size:15px;  justify-content:center; color:white; font-weight: bold;">Angularjs</p>
<br><br><br><br>
<p class="p-show" style="font-size:15px;  justify-content:center; color:black; "> Angularjs is a javascript framework in which software developers use to code amazing features and functions on the website or app</p>


</section>
</div>
</div>

{% endblock %}