{% extends 'base.html' %} {% load static %} {% load staticfiles %}

{% block content %}
<div class="container-fluid contactinfopicture " style=" margin-top:50px;  background: rgb(81,120,156);
background: linear-gradient(0deg, rgba(81,120,156,0.865983893557423) 27%, rgba(96,184,200,0.835171568627451) 56%, rgba(109,165,171,0.8379726890756303) 87%); background-repeat: no-repeat; background-size:cover;background-position: 50% 50%;">
 <div class="container4 hide-in-mobile ">
  <h2 class="showvisibility bigheading">Our Skills and Knowledge</h2>
  <br>
  <p class="showvisibility belowbigheading" style="justify-content:center; font-size:25px;">Our primary mission is to be the best in our industry</p>
  <br><br>
  <section style="margin-top:50px;">
  
  <p class="p-show" style="font-size:15px;  justify-content:center; color:black;">We strive to be one of the best full stack software engineers and work with the best companies in silicon valley and accross the globe . We are constantly learning and developing new skills and methods to enhance our clients website and make catchy bugs easier and quickly to let business focus on sales and marketing for their business.</p>
</section>
</div>
</div>

{% endblock %}