{% extends 'base.html' %}  {% load staticfiles %} {% load static %}

{% block content %}
<div class="container-fluid"  style="background-color:white; height:600px; margin-top: 30px;">
  <div style="width:40%;margin-left:35%; margin-top:100px; ">
  {% if validlink %}
    <h3>Do you want to change password</h3>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" style="color:red;">Change the password</button>
    </form>
  {% else %}
    <p>
      The password reset was not correct.
      Please try and reset password.
    </p>
  {% endif %}
  </div>
</div>
{% endblock %}