{% extends 'base.html' %}

{% block content %}
<div class="container-fluid"  style="background-color:white; height:600px; margin-top: 30px;">
  <div style="width:40%;margin-left:35%; margin-top:100px; ">
  <p style="color:blue;">
    We sent you an email on step by step guide to set your password.
    You will get the email within the next few minutes.
  </p>
  <br><br>
  <p style="color:blue;">
    If you did not get our email in your email account, recheck if you put in the correct information and you may have got our email in your spam email messages(folder). 
   
  </p>
  </div>
</div>
{% endblock %}