{% extends 'base.html' %} {% load static %} 

{% block content %}

<div class="container-fluid contactinfopicture " style=" margin-top:50px;  background: rgb(81,120,156);
background: linear-gradient(0deg, rgba(81,120,156,0.865983893557423) 27%, rgba(96,184,200,0.835171568627451) 56%, rgba(109,165,171,0.8379726890756303) 87%); background-repeat: no-repeat; background-size:cover;background-position: 50% 50%;">
 <div class="container4 hide-in-mobile ">
  <h2 class="showvisibility bigheading">About Our Company</h2>
  <br>
  <p class="showvisibility belowbigheading" style="justify-content:center; font-size:25px;">We have been helping clients globally since 2017</p>
  <br><br>
  <section style="margin-top:50px;">
  
  <p class="p-show" style="font-size:15px;  justify-content:center; color:black;">We have software engineers who operate from Ireland to clients around the globe. We specialise in project management for businesses who want to take their website or mobile application to the next level.</p>

<br><br><br><br>
<p class="p-show" style="font-size:15px;  justify-content:center; color:white; font-weight: bold;">Best Practices</p>
<br>
<p class="p-show" style="font-size:15px;  justify-content:center; color:black; ">From our years of experience and research will have develop the best practices to building your website or application to a high level and on time</p>

<br><br>
<p class="p-show" style="font-size:15px;  justify-content:center; color:white; font-weight: bold;">High Standards</p>
<br>
<p class="p-show" style="font-size:15px;  justify-content:center; color:black; ">The level of standard we provide is top class with every aspect of building and maintaining the website is to precision and great attention to detail. </p>
<br><br>
<p class="p-show" style="font-size:15px;  justify-content:center; color:white; font-weight: bold;">Communication skills</p>
<br>
<p class="p-show" style="font-size:15px;  justify-content:center; color:black; ">We pride ourselves in being great communicators, explaining difficult concepts in computer science in laymen's terms to our clients. The end result is there is few communication barriers and the client is very clear what we are doing and saying.</p>
</section>
</div>
</div>

{% endblock %}